:host {
  display: flex;
  justify-content: center;
}
.container {
  margin: 0 16px;
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.filters {
  margin: 4em 0 4.5em 0;
}

.spiner-wraper {
  height: 50vh;
}

.card-grid {
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}
