<div class="container">
  <div class="filters" fxLayout="row" fxLayout.xs="column" fxLayoutGap="auto">
    <app-country-name-filter
      (nameChangedEvent)="updateName($event)"
    ></app-country-name-filter>
    <app-country-region-filter
      (regionChangedEvent)="updateRegion($event)"
    ></app-country-region-filter>
  </div>
  <div
    class="card-grid"
    fxLayout.xs="column"
    fxLayout="row wrap"
    fxLayoutGap.xs="30px"
    fxLayoutGap.sm="30px grid"
    fxLayoutGap.md="50px grid"
    fxLayoutGap.lg="70px grid"
  >
    <div
      class="card-grid__item"
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.md="33%"
      fxFlex.lg="25%"
      *ngFor="let country of this.filteredCountries"
    >
      <app-country-card
        [country]="country"
        [routerLink]="['/details', country.name]"
      ></app-country-card>
    </div>
  </div>
</div>
