:host {
  display: flex;
  justify-content: center;
}
.container {
  margin: 0 16px;
  max-width: 1200px;
}
.filters {
  margin: 3em 0 2em 0;
}

.card-grid-item {
  @media screen and (max-width: 400px) {
  }
}
