mat-card-content {
  padding: 0 0 3em 0.6em;
}

mat-card {
  box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 20%), 0px 0px 5px 0px rgb(0 0 0 / 8%) !important;
}

img {
  height: 165px;
  object-fit: cover;
}

mat-card {
  width: 214px;
}
