@import "src/styles/utils";

mat-form-field {
  width: 350px;
  height: 45px;
  box-shadow: $bs-soft;
}

mat-label {
  font-size: 1.1em;
  line-height: 1.25em;
}

// .icon {
//   padding: 0 1em 0 0.7em;
//   font-size: 1.5em;
// }

mat-icon {
  padding-right: 0.7em;
  font-size: 1.4em !important;
}

input {
  padding-left: 0.4em;
  padding-top: 0.1em;
  font-size: 1.1em;
}

// Ovi stilovi ne rade kad su definisani u ovom fajlu, a iz styles.scss fajla rade!
// .mat-form-field-underline {
//   height: 0px !important;
// }

// .mat-form-field-label-wrapper {
//   top: 0 !important;
//   padding-top: 0 !important;
// }
