<div class="container">
  <button class="back-button" mat-raised-button [routerLink]="['/home']">
    <mat-icon aria-hidden="false" aria-label="Back button">arrow_back</mat-icon>
    Back
  </button>
  <div>
    <div
      class="spiner-wraper"
      fxFlex
      fxLayoutAlign="space-around center"
      *ngIf="!this.gotCountries"
    >
      <mat-spinner></mat-spinner>
    </div>
    <div
      class="content"
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutGap="2.5em"
      fxLayoutGap.gt-sm="9em"
      *ngIf="this.gotCountries"
    >
      <img class="flag" [src]="country?.flag" />
      <div class="details">
        <h2 class="details__name">{{ country?.name }}</h2>
        <div
          fxLayout="column"
          fxLayoutGap="2.5em"
          fxLayout.gt-md="row"
          fxLayoutGap.gt-md="9em"
        >
          <div class="details__col-1">
            <p><strong>Native Name: </strong> {{ country?.nativeName }}</p>
            <p>
              <strong>Population: </strong>
              {{ country?.population | number }}
            </p>
            <p><strong>Region: </strong> {{ country?.region }}</p>
            <p><strong>Sub Region: </strong> {{ country?.subregion }}</p>
            <p><strong>Capital: </strong> {{ country?.capital }}</p>
          </div>
          <div class="details__col-2">
            <p>
              <strong>Top Level Domain: </strong> {{ country?.topLevelDomain }}
            </p>
            <p>
              <strong>Currencies: </strong>

              <span *ngFor="let currency of country?.currencies; let i = index">
                {{ currency.name }}
                <span *ngIf="i < country.currencies.length - 1">,</span>
              </span>
            </p>
            <p>
              <strong>Languages: </strong>
              <span *ngFor="let language of country?.languages; let i = index">
                {{ language.name }}
                <span *ngIf="i < country.languages.length - 1">,</span>
              </span>
            </p>
          </div>
        </div>
        <div class="border-countres">
          <div fxLayout="row wrap" fxLayoutGap="8px grid">
            <p class="border-countres__title">
              <strong>Border Countries:</strong>
            </p>
            <div *ngFor="let borderCountry of borderCountries">
              <button
                mat-raised-button
                [routerLink]="['/details', borderCountry.name]"
                routerLinkActive="active"
              >
                {{ borderCountry.name }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
