:host {
  display: flex;
  justify-content: center;
  margin: 0 16px;
}
.container {
  width: 100%;
  max-width: 1200px;
}

.back-button {
  display: block;
  margin: 4em 0;
}

.flag {
  width: 100%;
  max-width: 450px;
}

.border-countres {
  margin-top: 2em;
  &__title {
    margin-top: 1.1em;
    margin-right: 1em;
  }
}

.details {
  &__name {
    margin-top: 1em;
  }
}
