@use 'sass:map';
@use '~@angular/material' as mat;

@include mat.core();

// Define Light Theme
$light-primary-palette: mat.define-palette($grey-palette, $default: 700);
$light-accent-palette: mat.define-palette(
  $grey-palette,
  A100,
  A200,
  A400,
  A700
);
$light-warn-palette: mat.define-palette(mat.$red-palette);

$light-theme: (
  primary: $light-primary-palette,
  accent: $light-accent-palette,
  warn: $light-warn-palette,
  is-dark: false,
  foreground: $light-foreground-palette,
  background: $light-background-palette,
);

// Define Dark Theme
$dark-primary-palette: mat.define-palette($blue-grey-palette, $default: 100);
$dark-accent-palette: mat.define-palette(
  $blue-grey-palette,
  A100,
  A200,
  A400,
  A700
);
$dark-warn-palette: mat.define-palette(mat.$red-palette);

$dark-theme: (
  primary: $dark-primary-palette,
  accent: $dark-accent-palette,
  warn: $dark-warn-palette,
  is-dark: true,
  foreground: $dark-foreground-palette,
  background: $dark-background-palette,
);

// Apply Themes
@include mat.all-component-themes($light-theme);

.theme-dark {
  @include mat.all-component-themes($dark-theme);
}

@include mat.core($app-typography);
