@import "src/styles/utils";
mat-toolbar {
  box-shadow: $bs-soft;

  display: flex;
  justify-content: center;

  & .toolbar-content {
    width: 100%;
    max-width: 1200px;

    display: flex;
  }
}

.spacer {
  flex: 1;
}

mat-icon {
  font-size: 18px;
  line-height: 24px;
}
