mat-toolbar {
  box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 20%), 0px 0px 5px 0px rgb(0 0 0 / 8%) !important;

  display: flex;
  justify-content: center;

  & .toolbar-content {
    width: 100%;
    max-width: 1200px;

    display: flex;
  }
}

.spacer {
  flex: 1;
}

mat-icon {
  font-size: 18px;
  line-height: 24px;
}
