@import "styles/palettes";
@import "styles/typography";
@import "styles/themes";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

// Ovi stilovi ne rade iz kompoente, a iz ovo fajla hoce!!!
// .mat-form-field-underline {
//   height: 0px !important;
// }

// .mat-form-field-label-wrapper {
//   top: 0 !important;
//   padding-top: 0 !important;
// }

.cdk-overlay-pane {
  min-width: 168px !important;
  transform: translateX(-11px) translateY(28px) !important;
}
