@import "styles/palettes";
@import "styles/typography";
@import "styles/themes";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Nunito Sans", Roboto, "Helvetica Neue", sans-serif;
}
strong {
  font-weight: 600;
}

// Ovi stilovi ne rade iz kompoente, a iz ovo fajla hoce!!!
// .mat-form-field-underline {
//   height: 0px !important;
// }

// .mat-form-field-label-wrapper {
//   top: 0 !important;
//   padding-top: 0 !important;
// }

.cdk-overlay-pane {
  min-width: 135px !important;
  transform: translateX(-22px) translateY(28px) !important;
}

.mat-form-field-flex {
  padding-left: 1.8em !important;
  padding-right: 1.5em !important;
}
